/* .footer {
  height: 59px;
  background: #edeef2;
  position: fixed;
  bottom: 0;
  width: 100vw;
  right: 2px;
}
.footer p {
  margin: 0;
  line-height: 59px;
  float: right;
  font-weight: bold;
  margin-right: 10px;
  letter-spacing: 0.1rem;
  color: #303542;
} */
