.miniBox:nth-child(1) {
  border-radius: 8px 0 0 0;
}
.miniBox:nth-child(5) {
  border-radius: 0 8px 0 0;
}
.miniBox:nth-child(16) {
  border-radius: 0 0 0 8px;
}
.miniBox:nth-child(20) {
  border-radius: 0 0 8px 0;
}
