.MiniPalette {
  border: 15px solid white;
  border-radius: 12px;
}

.MiniPalette .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 200px;
}

.MiniPalette .miniBox {
  height: 100%;
}

.miniBox:nth-child(1) {
  border-radius: 8px 0 0 0;
}
.miniBox:nth-child(5) {
  border-radius: 0 8px 0 0;
}
.miniBox:nth-child(16) {
  border-radius: 0 0 0 8px;
}
.miniBox:nth-child(20) {
  border-radius: 0 0 8px 0;
}

h4 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.02rem;
  padding: 7px;
}
