.wrapper {
  height: 100vh;
  background: linear-gradient(95deg, #ff8e53 20%, #fe6b8b 70%);
}
.PaletteList {
  display: grid;
  height: 700px;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  margin: 1% auto;
}

.PaletteList a {
  text-decoration: none;
  color: #303542;
}

h1 {
  color: #fff;
  margin-left: 10%;
  letter-spacing: 0.2rem;
}

@media (max-width: 950px) {
  .PaletteList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 750px) {
  .PaletteList {
    grid-template-columns: repeat(1, 1fr);
  }
}
